<%- include("shared/header") %>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Café fresco</span>
            <span class="section-heading-lower">Vale a pena beber!</span>
          </h2>
          <p class="mb-3">Cada xícara de nosso café artesanal de qualidade começa com ingredientes de origem
            local e escolhidos a dedo. Depois de experimentá-lo, nosso café será uma adição maravilhosa à
            sua rotina matinal diária - nós garantimos isso!</p>
          <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl"
              href="https://api.whatsapp.com/send?phone=5511972620201&text=Ol%C3%A1!%20Queria%20comprar%20um%20caf%C3%A9!%20Voc%C3%AAs%20entregam%20em%20casa%3F">Clique
              aqui para comprar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner bg-faded text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Nossa promessa</span>
              <span class="section-heading-lower">Pra você</span>
            </h2>
            <p class="mb-0">Quando entra na nossa loja para começar o dia, estamos empenhados em lhe oferecer um
              serviço
              simpático, um ambiente acolhedor e, acima de tudo, produtos de excelência confeccionados com
              ingredientes
              da mais alta qualidade. Se você não estiver satisfeito, por favor, avise-nos e faremos o possível para
              consertar as coisas!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("shared/footer") %>