<%- include("shared/header") %>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner bg-faded text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Venha</span>
              <span class="section-heading-lower">Estamos Abertos</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                Domingo
                <span class="ms-auto">Fechado</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Segunda
                <span class="ms-auto">7:00 AM as 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Terça
                <span class="ms-auto">7:00 AM as 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Quarta
                <span class="ms-auto">7:00 AM as 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Quinta
                <span class="ms-auto">7:00 AM as 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Sexta
                <span class="ms-auto">7:00 AM as 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Sábado
                <span class="ms-auto">9:00 AM as 5:00 PM</span>
              </li>
            </ul>
            <p class="address mb-5">
              <em>
                <strong>Av. Portugal</strong>
                <br />
                Santo André , São Paulo
              </em>
            </p>
            <p class="mb-0">
              <small><em>Ligue a qualquer hora</em></small>
              <br />
              (11) 97262-0201
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("shared/footer") %>