@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: 'Roboto', sans-serif; }

#form {
  width: 80%;
  display: grid;
  margin: auto; }
